@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a192f;
  --foreground: #ccd6f6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NTR", Helvetica, sans-serif;
}
body {
  @apply max-w-sm mx-auto sm:max-w-6xl;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl sm:text-5xl;
}
p {
  @apply text-lg sm:text-xl text-slate-300;
}

.Typist .Cursor--blinking {
  @apply text-green  text-5xl sm:text-7xl;
}
